Repository wprig/wprig, pull requests merged in 2018-08, with the labels that each got.

#56 Add stylelint to gulp styles task
  gulp/styles.js
  package-lock.json
  package.json
Labels: gulp

#68 Use theme slug as file name and identifier when generating language and ZIP files
  gulp/bundle.js
  gulp/constants.js
  gulp/translate.js
Labels: gulp

#65 Optimizing wprig_fonts_url()
  dev/functions.php
Labels: enhancement, php

#57 Use HTTPS with BrowserSync
  README.md
  dev/config/themeConfig.js
  gulp/browserSync.js
Labels: enhancement, gulp, help wanted

#69 Ensure that the theme requirements are met, otherwise bail and warn the user
  .travis.yml
  dev/functions.php
  dev/inc/assets.php
  dev/inc/back-compat.php
  dev/inc/setup.php
  gulp/browserSync.js
  gulp/bundle.js
  gulp/constants.js
  gulp/php.js
  gulp/sassStyles.js
  gulp/scripts.js
  gulp/styles.js
  gulp/utils.js
  gulpfile.babel.js
  phpcs.xml.dist
Labels: php

#84 Clarify BrowserSync settings in README
  README.md
Labels: documentation
