Repository wprig/wprig, pull requests merged in 2018-12, with the labels that each got.

#248 Update column styles
  assets/css/src/content.css
Labels: bug, css

#224 Improve gulp error logging
  gulp/sassStyles.js
  gulp/scripts.js
  gulp/styles.js
  gulp/utils.js
  package-lock.json
  package.json
Labels: gulp

#244 Use more granular template parts
  404.php
  500.php
  README.md
  comments.php
  footer.php
  functions.php
  header.php
  inc/Custom_Header/Component.php
  inc/Jetpack/Component.php
  inc/template-tags.php
  index.php
  offline.php
  optional/archive.php
  optional/attachment.php
  optional/category.php
  optional/custom-page-template.php
  optional/custom-post-template.php
  optional/front-page.php
  optional/page.php
  optional/search.php
  optional/single.php
  optional/singular.php
  readme.txt
  template-parts/content-attachment.php
  template-parts/content-none.php
  template-parts/content-page.php
  template-parts/content-search.php
  template-parts/content.php
  template-parts/content/entry-attachment.php
  template-parts/content/entry.php
  template-parts/content/entry_actions.php
  template-parts/content/entry_content.php
  template-parts/content/entry_footer.php
  template-parts/content/entry_header.php
  template-parts/content/entry_meta.php
  template-parts/content/entry_taxonomies.php
  template-parts/content/entry_thumbnail.php
  template-parts/content/entry_title.php
  template-parts/content/error-404.php
  template-parts/content/error-500.php
  template-parts/content/error-offline.php
  template-parts/content/error.php
  template-parts/content/page_header.php
  template-parts/footer/info.php
  template-parts/header/branding.php
  template-parts/header/custom_header.php
  template-parts/header/navigation.php
Labels: php

#219 Add support for responsive embedded content
  inc/Base_Support/Component.php
  tests/phpunit/integration/Theme_Support_Tests.php
  tests/phpunit/unit/Base_Support/Component_Tests.php
Labels: php

#213 Add the privacy policy link
  template-parts/footer/info.php
Labels: php

#215 Align .more-link with the content
  assets/css/src/content.css
Labels: enhancement, help wanted, needs-approval

#254 Create a dedicated gulp task for screenshot.png
  gulp/constants.js
  gulp/images.js
  gulpfile.babel.js
Labels: bug, gulp, needs-approval

#256 Exit the prodFinish task early if compress is false
  gulp/prodFinish.js
Labels: gulp, ready to merge

#259 Fix no descending specificy for .wp-block-column
  assets/css/src/content.css
Labels: bug, css, ready to merge

#262 Replace wimg/php-compatibility with phpcompatibility/php-compatibility
  composer.json
  composer.lock
Labels: breaking, gulp, ready to merge
