Repository wprig/wprig, pull requests merged in 2019-04, with the labels that each got.

#386 Update cover block styles
  assets/css/src/content.css
  assets/css/src/editor/editor-styles.css
Labels: bug, css, needs-approval

#349 Fix broken columns: many columns displayed as one column
  assets/css/src/content.css
Labels: bug, css, needs-approval

#348 Align page links with the content
  assets/css/src/content.css
Labels: bug, css, needs-approval

#397 Single stream gulp tasks
  gulp/clean.js
  gulp/constants.js
  gulp/php.js
  gulp/sassStyles.js
  gulp/scripts.js
  gulp/styles.js
  gulp/utils.js
  package-lock.json
  package.json
Labels: gulp

#390 Reuse styles in the editor
  assets/css/src/_blocks.css
  assets/css/src/_elements.css
  assets/css/src/_links.css
  assets/css/src/_typography.css
  assets/css/src/content.css
  assets/css/src/editor/editor-styles.css
  assets/css/src/global.css
Labels: css, documentation

#338 Update front page
  assets/css/src/front-page.css
  optional/front-page.php
Labels: css, needs-approval, needs-testing, php

#398 IDEA: Add a local config file
  .gitignore
  README.md
  config/themeConfig.js
  readme.txt
Labels: gulp, needs-approval

#405 Set preserve to false for custom-media
  assets/css/src/_blocks.css
  assets/css/src/_elements.css
  assets/css/src/_links.css
  assets/css/src/_typography.css
  assets/css/src/comments.css
  assets/css/src/content.css
  assets/css/src/editor/editor-styles.css
  assets/css/src/front-page.css
  assets/css/src/global.css
  assets/css/src/sidebar.css
  assets/css/src/widgets.css
  config/config.default.json
  gulp/styles.js
Labels: css, gulp, needs-approval, needs-testing

#423 Update Squizlabs/PHP_CodeSniffer (fix #412)
  composer.lock
Labels: php

#416 Reduce calc usage
  gulp/editorStyles.js
  gulp/styles.js
  package.json
Labels: css, gulp

#418 Fail prod build if theme name is missing
  gulp/prodPrep.js
Labels: gulp

#419 No custom properties in editor css
  gulp/editorStyles.js
Labels: bug, css, gulp

#421 Update pre - simplify styles
  assets/css/src/_typography.css
  assets/css/src/content.css
Labels: css

#415 Move media selectors to a separate file
  assets/css/src/_media.css
  assets/css/src/content.css
  assets/css/src/editor/editor-styles.css
Labels: css

#428 Initialize navigation even if DOMContentLoaded has fired
  assets/js/src/navigation.js
Labels: bug

#441 Clarify naming of wprig development folder in the installation process
  README.md
Labels: documentation
