Repository wprig/wprig, pull requests merged in 2019-02, with the labels that each got.

#320 Remove unneeded php end tag
  template-parts/content/entry-attachment.php
  template-parts/content/entry.php
Labels: needs-approval, php

#292 Add new custom colors and font names. Use CSS custom properties.
  assets/css/src/content.css
  assets/css/src/custom-properties.css
  assets/css/src/editor/editor-styles.css
  inc/Editor/Component.php
Labels: css, needs-approval

#286 Use numerical pagination for search results
  assets/css/src/global.css
  index.php
  optional/archive.php
  optional/category.php
  optional/front-page.php
  optional/search.php
  template-parts/content/pagination.php
Labels: needs-approval, php

#325 Set CSS variables for links
  assets/css/src/custom-properties.css
  assets/css/src/global.css
Labels: css, needs-approval

#319 Enhance/print styles
  404.php
  500.php
  CHANGELOG.md
  comments.php
  inc/Styles/Component.php
  index.php
  offline.php
  optional/archive.php
  optional/attachment.php
  optional/category.php
  optional/custom-page-template.php
  optional/custom-post-template.php
  optional/front-page.php
  optional/page.php
  optional/search.php
  optional/single.php
  optional/singular.php
  readme.txt
  sidebar.php
Labels: css, needs-approval, php

#297 Better handling of copying files to prod theme bundle
  config/config.default.json
  gulp/constants.js
  gulp/images.js
  gulp/prodPrep.js
  gulp/utils.js
  gulpfile.babel.js
  package-lock.json
Labels: gulp, needs-approval

#291 Fix wrong alignments
  assets/css/src/widgets.css
  inc/Sidebars/Component.php
  template-parts/content/error-404.php
Labels: css

#252 Use excerpts instead of full posts in search results
  template-parts/content/entry.php
  template-parts/content/entry_header.php
  template-parts/content/entry_summary.php
Labels: enhancement, help wanted, needs-approval

#311 Support the optional media parameter when registering/enqueuing stylesheets
  inc/Styles/Component.php
Labels: bug, css, needs-approval, needs-testing

#324 Don’t compile custom CSS files
  gulp/constants.js
Labels: css, gulp, needs-approval, needs-testing

#337 Update various NPM packages to the latest version
  package-lock.json
  package.json
Labels: needs-approval
