Repository wprig/wprig, pull requests merged in 2019-01, with the labels that each got.

#266 Fix duplicate selector in content.css
  assets/css/src/content.css
Labels: bug, css, needs-approval

#267 Fixing bug to preserve CSS variables
  config/config.default.json
  gulp/styles.js
Labels: breaking, bug, ready to merge

#272 Add missing comma to HSL function
  assets/css/src/comments.css
Labels: breaking, css, ready to merge

#281 Use CSS files for custom properties and media
  CHANGELOG.md
  assets/css/src/custom-media.css
  assets/css/src/custom-properties.css
  config/cssVariables.json
  gulp/constants.js
  gulp/styles.js
  gulp/watch.js
Labels: css, gulp

#198 Exclude custom logo from lazy loading
  inc/Lazyload/Component.php
Labels: bug, needs-approval, php

#263 Adding WP Rig logo to theme screenshot
  screenshot.png
Labels: needs-approval

#141 Make sure content.css always loads for content
  404.php
  assets/css/src/content.css
  assets/css/src/global.css
  index.php
  optional/archive.php
  optional/attachment.php
  optional/category.php
  optional/custom-page-template.php
  optional/custom-post-template.php
  optional/front-page.php
  optional/page.php
  optional/search.php
  optional/single.php
  optional/singular.php
Labels: css

#295 Upgrade WordPress coding standards to 2.0
  CHANGELOG.md
  composer.json
  composer.lock
  template-parts/content/entry_taxonomies.php
Labels: gulp, needs-approval, php

#173 Remove style on classes used for strutured data
  assets/css/src/content.css
  template-parts/content/entry-attachment.php
  template-parts/content/entry.php
Labels: css, needs-approval

#296 Replace require-uncached with import-fresh
  CHANGELOG.md
  gulp/constants.js
  gulp/utils.js
  package-lock.json
  package.json
Labels: bug, gulp, needs-approval

#299 Fix inconsistent title sizes
  assets/css/src/global.css
Labels: css, needs-approval
