Repository wprig/wprig, pull requests merged in 2019-03, with the labels that each got.

#352 Move back and update CSS table of contents to global.css
  assets/css/src/global.css
  assets/css/src/reset.css
Labels: css

#356 Fix custom properties without units not evaluated
  assets/css/src/content.css
  assets/css/src/custom-properties.css
  assets/css/src/editor/editor-styles.css
  assets/css/src/global.css
Labels: css, ready to merge

#367 Update editor styles to accept custom properties and media
  assets/css/src/editor/editor-styles.css
Labels: bug, css

#364 Don't exclude imported files in CSS source path
  config/config.default.json
  gulp/constants.js
  gulp/scripts.js
  gulp/styles.js
  gulp/utils.js
  gulp/watch.js
Labels: bug, css, gulp, needs-approval, needs-testing

#354 Fix no margin for entry meta
  assets/css/src/content.css
Labels: bug, css

#357 Add `rig-init` to npm scripts
  CHANGELOG.md
  README.md
  package.json
Labels: gulp, needs-approval, needs-testing, php

#353 Style blockquotes like the quote block
  assets/css/src/content.css
  assets/css/src/custom-properties.css
  assets/css/src/global.css
Labels: bug, css

#373 Separate main menu toggle functionality into CSS selectors
  assets/css/src/global.css
  assets/js/src/navigation.js
  template-parts/header/navigation.php
Labels: css, javascript, needs-approval

#332 Update editor styles to new convention
  assets/css/src/editor/editor-styles.css
  inc/Editor/Component.php
  inc/Styles/Component.php
Labels: needs-approval

#385 Fix audio shortcode not aligned with the content
  assets/css/src/content.css
Labels: bug, css, needs-approval

#360 Add phpcbf to Composer scripts
  CHANGELOG.md
  composer.json
Labels: enhancement, php, ready to merge

#358 Pot on prod build
  README.md
  config/config.default.json
  gulp/translate.js
  inc/Localization/Component.php
Labels: gulp, php, ready to merge

#389 Fix minor CSS conflicts flagged by Stylelint
  assets/css/src/_reset.css
  assets/css/src/global.css
Labels: bug, css, ready to merge

#394 Cache config
  gulp/browserSync.js
  gulp/constants.js
  gulp/editorStyles.js
  gulp/php.js
  gulp/prodFinish.js
  gulp/sassStyles.js
  gulp/scripts.js
  gulp/styles.js
  gulp/translate.js
  gulp/utils.js
  gulp/watch.js
Labels: gulp
