Repository wprig/wprig, pull requests merged in 2019-09, with the labels that each got.

#523 Fix sub menus may be under other elements
  CHANGELOG.md
  assets/css/src/global.css
Labels: css, needs-approval

#587 Support vendor asset directories
  .gitignore
  CHANGELOG.md
  assets/css/vendor/.gitkeep
  assets/js/vendor/.gitkeep
  config/config.default.json
  gulp/clean.js
  gulp/tests/prod-build/mmenu-light/mmenu-light.css
  gulp/tests/prod-build/mmenu-light/mmenu-light.js
  gulp/tests/prod-build/prod-build.setup.js
  gulp/tests/prod-build/prod-build.test.js
  gulp/tests/prod-build/prod-build.utils.js
Labels: enhancement, gulp, ready to merge

#571 Prevent gallery block from breaking unexpectedly if the number of images is a multiple of the number of columns
  CHANGELOG.md
  assets/css/src/_blocks.css
Labels: bug, css, ready to merge

#605 Restore existing files mocked during the gulp test process
  gulp/tests/prod-build/prod-build.setup.js
  gulp/tests/prod-build/prod-build.teardown.js
Labels: bug, gulp, ready to merge

#488 Reduce hardcoded colors
  CHANGELOG.md
  assets/css/src/_custom-properties.css
  assets/css/src/_elements.css
  assets/css/src/_media.css
  assets/css/src/comments.css
  assets/css/src/content.css
  assets/css/src/front-page.css
  assets/css/src/global.css
  assets/css/src/widgets.css
Labels: css, needs-approval
