Repository wprig/wprig, pull requests merged in 2019-05, with the labels that each got.

#460 Update/infinite scroll
  assets/css/src/global.css
  inc/Jetpack/Component.php
Labels: bug, css, needs-approval, php

#429 Test gulp styles task
  .travis.yml
  config/config.default.json
  gulp/editorStyles.js
  gulp/styles.js
  gulp/tests/styles.test.js
  gulp/utils.js
  gulpfile.babel.js
  package-lock.json
  package.json
Labels: gulp, needs-approval

#493 No backslashes in file paths sent to gulp watch
  gulp/utils.js
  gulp/watch.js
Labels: bug, gulp
