Repository wprig/wprig, pull requests merged in 2019-06, with the labels that each got.

#458 Align the sidebar below the content
  assets/css/src/sidebar.css
Labels: css, needs-approval

#456 Fix custom post template works as a page template
  optional/custom-post-template.php
Labels: bug, needs-approval, php

#446 Fix Google Fonts default subset
  inc/Styles/Component.php
Labels: css, enhancement, needs-approval

#452 Use existing variable instead of an hardcoded value
  assets/css/src/global.css
Labels: bug, css, needs-approval

#436 Prefer short array syntax
  inc/AMP/Component.php
  inc/Accessibility/Component.php
  inc/Base_Support/Component.php
  inc/Comments/Component.php
  inc/Custom_Background/Component.php
  inc/Custom_Header/Component.php
  inc/Custom_Logo/Component.php
  inc/Customizer/Component.php
  inc/Image_Sizes/Component.php
  inc/Jetpack/Component.php
  inc/Lazyload/Component.php
  inc/Localization/Component.php
  inc/Nav_Menus/Component.php
  inc/Post_Thumbnails/Component.php
  inc/Sidebars/Component.php
  inc/Theme.php
  template-parts/content/entry.php
  template-parts/content/entry_actions.php
  template-parts/content/entry_content.php
  template-parts/content/entry_thumbnail.php
  template-parts/content/error-404.php
  template-parts/content/error.php
  template-parts/content/pagination.php
  template-parts/header/navigation.php
  tests/phpunit/unit/Accessibility/Component_Tests.php
Labels: breaking, needs-approval, needs-testing, php

#499 Let backslashToForwardSlash handle arrays of paths
  gulp/utils.js
Labels: bug, gulp

#427 Always copy, and run string replacement, on style.css
  config/config.default.json
  gulp/constants.js
  gulp/prodCompress.js
  gulp/prodStringReplace.js
  gulpfile.babel.js
Labels: bug, gulp, needs-approval

#463 Headings in _typography.css not using css variables
  assets/css/src/_typography.css
Labels: bug, css, needs-approval

#447 Fix stylelint comments
  assets/css/src/_custom-media.css
  assets/css/src/_media.css
  assets/css/src/_reset.css
  assets/css/src/content.css
  assets/css/src/global.css
Labels: bug, css, needs-approval

#486 Use `display: swap` with Google fonts to get the content faster
  assets/css/src/_custom-properties.css
  assets/css/src/_typography.css
  assets/css/src/comments.css
  assets/css/src/content.css
  assets/css/src/editor/editor-styles.css
  assets/css/src/global.css
  assets/css/src/sidebar.css
  inc/Styles/Component.php
Labels: css, php

#508 Fix remaining arrays not using short syntax
  inc/Comments/Component.php
  inc/Editor/Component.php
  inc/Nav_Menus/Component.php
  inc/Styles/Component.php
  inc/Template_Tags.php
  template-parts/content/entry_taxonomies.php
  tests/phpunit/unit/Base_Support/Component_Tests.php
Labels: php

#510 Bug fix to specify the correct container for infinite scroll to work out of the box with WP-Rig
  inc/Jetpack/Component.php
Labels: bug, needs-testing, php

#479 Fix i18n for site info
  template-parts/footer/info.php
Labels: bug, php

#506 Add support for new PWA service worker integrations
  CHANGELOG.md
  inc/PWA/Component.php
  inc/Theme.php
Labels: php

#532 Use WordPress official ESLint config
  assets/js/src/customizer.js
  assets/js/src/lazyload.js
  assets/js/src/navigation.js
  gulp/browserSync.js
  gulp/clean.js
  gulp/constants.js
  gulp/editorStyles.js
  gulp/generateCert.js
  gulp/images.js
  gulp/php.js
  gulp/prodCompress.js
  gulp/prodPrep.js
  gulp/prodStringReplace.js
  gulp/scripts.js
  gulp/styles.js
  gulp/tests/styles.test.js
  gulp/translate.js
  gulp/utils.js
  gulp/watch.js
  package-lock.json
  package.json
Labels: gulp, javascript, needs-approval

#504 Add `cross-env` to `bundle` script command
  package-lock.json
  package.json
Labels: bug, gulp, needs-approval

#469 Use resized images for post thumbnails
  inc/Post_Thumbnails/Component.php
  template-parts/content/entry_thumbnail.php
Labels: bug, php

#438 Fix sub menus don't work with IE11/Edge
  assets/css/src/global.css
  assets/js/src/navigation.js
Labels: accessibility, bug
