Repository wprig/wprig, pull requests merged in 2020-12, with the labels that each got.

#568 Fix left/right alignment overflow
  CHANGELOG.md
  assets/css/src/content.css
Labels: bug, css, needs-approval

#545 Fix no error message for WP-CLI (back compat)
  CHANGELOG.md
  inc/back-compat.php
Labels: bug, needs-approval, php

#614 Remove redundant styles for links when there’s a custom text color
  assets/css/src/content.css
Labels: css

#657 removing lazy loading because it ships native in WordPress 5.5
  CHANGELOG.md
  assets/css/src/_reset.css
  assets/js/src/customizer.js
  assets/js/src/lazyload.js
  inc/Lazyload/Component.php
  inc/Theme.php
  package-lock.json
Labels: enhancement, ready to merge
